body {
  background-color: black;
  color: white;
  font-style: oblique;
  font: sans;
}
.pictures{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
img {
  width: 95%
}
.go_back {
  text-align: center;
  size: 10%;
}
